/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, section, article,
h1, h2, p, strong, em, a, div, img, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

html {
  background-color: #fafafa;
}

a {
  display: block;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  overflow: hidden;
  color: #125688;
  transition: color 0.2s, border 0.2s;
}

a:hover {
  color: #0d3c5f;
}

ul {
  list-style: none;
}

button{
  padding: 6px;
  background-color: #125688;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  transition: background-color .15s;
}

button:hover {
  background-color: #6666ff;
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}


.show-more {
  display: block;
  position: relative;
  bottom: 10px;
  text-align: center;
}
