
.header-shell {
  display: block;
  position: fixed;
  border-bottom: 1px solid #edeeee;
  padding-top: 20px;
  width: 100%;
  background-color: white;
  z-index: 5;
  max-height: 80px;

  .header-main{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-logo {
    padding-left: 30 0 40px 55px;
    float: left;
  }

  .header-logo > a {
    font-size: 24px;
    font-weight: 600;
  }

  .header-user {
    padding-right: 15px;

    .header-user-nav {
      margin: auto;
    }

    ul {
      float:right;
    }

    li {
    }
  }
}
