.header-shell {
  position: fixed;
  border-bottom: 1px solid #edeeee;
  width: 100%;
  background-color: white;
  z-index: 5;
  height: 70px;

  .header-main{
    padding: 5px 0px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    min-height: 58px;
  }

  .header-logo {
    float: left;
    margin-top: 20px;
  }

  .header-logo > a {
    height: 24px;
    font-size: 24px;
    font-weight: 600;
  }

  .search-bar {
    display: inline-block;
    margin: 20px 70px 0px 70px;
    position: fixed;
    min-width: 200px;

    input {
      text-indent: 5px;
      width: 100%;
      border: 1px solid #a6a6a6;
      border-radius: 5px;
      font-size: 18px;
    }

    ul {
      width: 100%;
      max-width: 250px;
      left: 4px;
      position: relative;
      overflow-y: scroll;
      max-height: 200px;
      background: white;
      margin: auto;

      a:hover{
        background-color: #cccccc;
      }

      a:nth-child(n+2){
        border-top: 1px solid #a6a6a6;
        border-left: 1px solid #a6a6a6;
        border-right: 1px solid #a6a6a6;

      }

      a:first-child{
        border-left: 1px solid #a6a6a6;
        border-right: 1px solid #a6a6a6;
      }

      a:last-child{
        border-bottom: 1px solid #a6a6a6;
      }

      a{
        padding: 15px 10px;
      }

      .search-avatar{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: relative;
        top: 5px;
        margin-right: 5px;
      }
    }
    //
    // span {
    //   position: absolute;
    //   margin: 10px 0px;
    // }
    //

  }

  .header-user {
    z-index: 1;
    float: right;


    .menu-button {
      width: 20px;
      height: 20px;
      float: right;
      position: relative;
      top: 20px;
    }

    .button {
      margin-left: 100%;
      width: 25px;
      height: 25px;
      border: 2px solid #edeeee;
      border-radius: 5px;
    }

    .header-user-nav {
      padding: 10px 10px;
      border: 1px solid #737373;
      border-radius: 5px;
      background-color: white;
      margin-top: 60px;
      text-align: right;
    }

    a:hover {
      text-decoration: underline;
    }

    .header-user-nav::before{
      width: 0;
      height: 0;
      content: "";
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 14px solid black;
      position: absolute;
      margin-left: -22px;
      top: 52px;
    }

    .header-user-nav::after{
      width: 0;
      height: 0;
      content: "";
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 14px solid white;
      position: absolute;
      margin-left: -22px;
      top: 52px;
      }


    .hide {
      display: none;
    }
  }

  .signin{
    float: right;
    margin-top: 20px;
  }
}
