
.photo-item {
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin: auto;
  padding: 10px 0px;
  margin-bottom: 60px;
  width: 600px;
  background-color: white;

  .photo-header{
    display: flex;

    .photo-user-avatar > img{
      width: 30px;
    }

    .photo-user-link {
    }

    .photo-title {
      margin: 0px 30%;
    }

    .photo-age{
    }
  }
}

.photo-item > li {
  list-style: none;
  margin: 20px;
}

.photograph-container{

  .photograph {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

.preview-image {
  width: 300px;
  height: auto;
}
