.photo-page{
  padding-top: 115px;
  display: block;
  background-color: #fafafa;

  .photograph-container{
    cursor: default;
  }

  .loading {
    float: left;

    img {
      max-height: 100px;
    }
  }

  .delete-button-div{
    margin: 0px 0px 10px 10px;

    .delete-button{
      background-color: #660000;
      margin-right: 20px;
      opacity: 1;
      visibility: visible;
      -webkit-transition: visibility 0s, opacity 0.4s linear;
      transition: background-color 0.4s, visibility 0s, opacity 0.4s linear;
    }

    .delete-button:hover{
      background-color: #cc0000;
    }
    .hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  .photo-title-edit {
    margin: 0px auto;
    .photo-title-input {
      width: 100%;
      color: #0d3c5f;
      font-weight: 600;
    }
  }

  .photo-caption-edit {
    display: block;
    position: static;
    padding: 0px 15px 5px 15px;

  }

  .tag-edit{
    h3 {
      margin: 0 10px 0 0;
      display: inline-flex;
      font-weight: 600;
      font-size: 15px;
    }
  }

  input {
    text-indent: 5px;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    outline: none;
  }

  a {
    color: #125688;
    text-decoration: none;
  }

  a:hover {
    color: #0d3c5f;
  }

  div.edit-button {
    padding-left: 15px;
  }

  div:nth-child(n+4){
    display: block;
    position: static;
    padding: 0px 15px 5px 15px;
  }

  div.photo-like {
    padding: 0px 15px 5px 15px;
  }

  .photo-header{
    display: flex;
    padding: 0px 10px 0px 10px;

  div {
    display: table;
    position: relative;
    list-style: none;
    // position: relative;
    // padding-bottom: 5px;
    // left: 15px;
  }

  div:nth-child(n+2){
    top: 10px;
  }

  .photo-user-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .photo-user-link {
  }

  .photo-title {
    margin: 0px auto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    color: #125688;
  }

  .photo-age{
    color: #a5a7aa;
  }

}



  .photo-caption{
    a {
      display: inline;
    }
  }

  .photo-like {
    display: inline-block;

    .heart-image {
      display: inline-block;
    }
    .heart-image:hover {
      cursor: pointer;
    }
    .like-count {
      display: inline-block;
      position: relative;
      bottom: 10px;
    }
  }

  .index-photo-tag-container {
    h3 {
      margin: 0px 10px 7px 0px;
      font-weight: 600;
      font-size: 15px;
      float: left;
    }
    .index-photo-tags {
      display: block;;
      max-width: 90%;

      a {
        display: inline-block;
        margin: 0 8px 0 0;
      }
    }
  }

  .photo-comments {
    ul > li {
      display: block
    }

    .comment-content{
      display: inline-flex;

      .comment-author{
        position: relative;
        bottom: 1px;
        padding-right: 3px;
      }

      button {
        background: transparent;
        border: none;
        font-size: 17;
        color: #a5a7aa;
        outline: none;
      }
      button:hover {
        color: black;
      }
    }
  }

  .submit-comment {
    margin: 20px;
  }

  .submit-comment-box {
    border-top: 1px solid #edeeee;


    input {
      font-size: 15px;
      line-height: 18px;
      width: 100%;
      border: none;
      outline: none;
      margin-top: 20px;
    }

    button {
      display: none;
      background: transparent;
      border: none;
      font-size:0;
    }
  }
}
