
.photo-item {
  border: 1px solid #737373;
  border-radius: 5px;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 60px;
  width: 600px;
  background-color: white;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 15px;
  line-height: 18px;

  a {
    color: #125688;
    text-decoration: none;
  }

  a:hover {
    color: #0d3c5f;
  }

  div:nth-child(n+4){
    display: block;
    position: static;
    padding: 0px 15px 5px 15px;
  }

  div.photo-like {
    padding: 0px 15px 5px 15px;
  }

  .photo-header{
    display: flex;
    padding: 0px 10px 0px 10px;

  div {
    display: table;
    position: relative;
    list-style: none;
    // position: relative;
    // padding-bottom: 5px;
    // left: 15px;
  }

  div:nth-child(n+2){
    top: 10px;
  }

  .photo-user-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-right: 10px;
  }

  .photo-user-link {
  }

  .photo-title {
    margin: 0px auto;
    max-width: 450px;
  }

  .photo-age{
    color: #a5a7aa;
  }
}

.photograph-container{
  max-height: 600px;
  max-width: 600px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;

  .photograph {
    width: 100%;
    height: 100%;
  }

  .loading {
    z-index: 1;
    min-width: 600px;
    min-height: 600px;
    overflow: hidden;
    background: image-url("loading.gif") no-repeat center center;
  }

  .hide {
    display: none;
  }
}

  .photo-caption{
    a {
      display: inline;
    }
  }

  .photo-like {
    display: inline-block;

    .heart-image {
      display: inline-block;
    }
    .heart-image:hover {
      cursor: pointer;
    }
    .like-count {
      display: inline-block;
      position: relative;
      bottom: 10px;
    }

    div.background-trans{
      position: fixed;
      z-index: 2;
      width: 100vw;
      height: 100vh;
      background-color: white;
      opacity: 0.7;
      top: 0px;
      left: 0px;
    }

    div.likers-list {
      width: 400px;
      height: 700px;
      border: 1px solid #737373;
      border-radius: 2px;
      overflow-y: scroll;
      position: fixed;
      background: white;
      top: 80px;
      z-index: 3;
    }
  }

  .index-photo-tag-container {
    h3 {
      margin: 0px 10px 7px 0px;
      font-weight: 600;
      font-size: 15px;
      float: left;
    }
    .index-photo-tags {
      display: block;;
      max-width: 90%;

      a {
        display: inline-block;
        margin: 0 8px 0 0;
      }
    }
  }

  .photo-comments {
    .load-comments {
      display: inline-block;
      color: #a5a7aa;
      margin-bottom: 7px;
      font-weight: normal;
    }

    .load-comments:hover {
      color: #818488;
      cursor: pointer;
    }

    .comment-content{
      display: inline-flex;

      .comment-author{
        position: relative;
        bottom: 1px;
        padding-right: 3px;
      }

      button {
        background: transparent;
        border: none;
        font-size: 17;
        color: #a5a7aa;
        outline: none;
        padding: 0 0 0 10px;
      }
      button:hover {
        color: black;
      }
    }
  }

  .submit-comment {
    margin: 20px;
  }

  .submit-comment-box {
    border-top: 1px solid #edeeee;


    input {
      font-size: 15px;
      line-height: 18px;
      width: 100%;
      border: none;
      outline: none;
      margin-top: 20px;
    }

    button {
      display: none;
      background: transparent;
      border: none;
      font-size:0;
    }
  }
}

.preview-image {
  width: 300px;
  height: auto;
}
