.signin-page {
  background-color: #fafafa;


  .signin-landing {
    padding-top: 71px;
    background: image_url("signin-background.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    height: calc(100vh - 71px);

    div.signin-form {
      position: relative;
      max-width: 600px;
      height: 220px;
      margin: 150px auto;
      background: transparentize(white, .2);
      border-radius: 5px;
      padding: 10px 0;

      h1 {
        color: #125688;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }

      label {
        text-align: center;
        margin: 10px;
      }

      a {
        display: initial;
        margin: 10px 260px;
      }

      input {
        font-size: 18px;
        text-indent: 5px;
        border: 1px solid #a6a6a6;
        width: 200px;
        border-radius: 5px;
      }



      button{
        background-color: #125688;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
      }

      .signin-button {
        margin: 0 14px 24px 198px;
      }

      button:hover {
        background-color: #6666ff;
      }

    }


    .signin-username {
      display:block;
    }

    .signin-password {
      display: block;
    }

    #error{
      display: block;
      text-align: center;
      margin-top: 10px;
      color: darkred;
    }
  }

}
