.signin-page {
  background-color: #fafafa;

  .signin-form {
    padding-top: 115px;
    background-color: white;

    .signin-username {
      display:block;
    }

    .signin-password {
      display: block;
    }
  }

}
