.user-form {
  background-color: #fafafa;


  background: image-url("signin-background.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  padding-top: 71px;
  height: calc(100vh - 71px);

  .new-user {
    position: relative;
    max-width: 600px;
    height: 220px;
    margin: 150px auto;
    background: transparentize(white, .2);
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;

    h1 {
      color: #125688;
      margin: 10px auto;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }

    label {
      display: block;
      margin: 10px;
    }

    input {
      display: block;
      margin: 10px auto;
      font-size: 18px;
      text-indent: 5px;
      border: 1px solid #a6a6a6;
      width: 200px;
      border-radius: 5px;
    }



    button{
      background-color: #125688;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 16px;
    }


    button:hover {
      background-color: #6666ff;
    }

  }


  .signin-username {
    display:block;
  }

  .signin-password {
    display: block;
  }


}
