a {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  overflow: hidden;
  color: #125688;
}

.tagpage{
  background-color: #fafafa;

  .tagpage-header {
    padding-top: 115px;
    max-width:900px;
    margin: auto;

    h1 {
      display: inline-block;
      font-size: 40px;
      font-family: monospace;
      font-weight: 500;
      padding: 0px 0px 10px 10px;
    }
  }


  .viewing-options{
    display: inline-block;
    float: right;
  }

  .tagpage-ul {
    margin: auto;
    vertical-align: baseline;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin: 5px 60px;
  }
}

.tagpage-list {

  margin: auto;
  position: relative;
  vertical-align: baseline;
  align-items: center;
  align-self: center;
}

.tagpage-grid{
  padding-bottom: 10px;
  max-width: 900px;
  margin: auto;
  position: relative;
  vertical-align: baseline;
  align-items: center;
  align-self: center;

  ul{
    margin: 0px 95px;
  }
  .square-photo-container{
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    margin: 5px;
    width: 250px;
    height: 250px;
    overflow: hidden;

    .loading-square {
      position: absolute;
      z-index: 1;
      width: 250px;
      height: 250px;
      overflow: hidden;
      background: image-url("loading.gif") no-repeat center center;
      background-color: white;
    }

    .hovering {
      opacity: 0.6;
      position: absolute;
      z-index: 1;
      width: 250px;
      height: 250px;
      overflow: hidden;
      background-color: black;
    }

    .stats {
      position: absolute;
      background-color: transparent;
      z-index: 2;
      color: white;
      font-size: 22px;
      top: 115px;
      left: 70px;

      img {
        width: 20px;
        height: 20px;
      }

      .comment-icon {
        margin-left: 20px;
      }

      span {
        position: relative;
        top: -2px;
      }

    }

    .hide {
      display: none;
    }
  }

  img {
    width: 250px;
    height: 250px;

  }
}
