.userpage-profile {
  display: block;
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  .userpage-avatar {
    float: left;
    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
  }

  .userpage-user-info {
    float: right;
    width: 70%;

    .username-and-edit {
      height: auto;

      .userpage-username {
        display: block;
        font-size: 34px;
        font-weight: 300;
      }

      a {
        padding: 5px;
        display: inline-table;
        align-self: center;
        font-size: 100%;
        color: #818488;
        border: 1px solid #818488;
        border-radius: 3px;
      }

      a:hover{
        color: #125688;
        border: 1px solid #125688;
      }

      button {
        padding: 5px;
        display: inline-table;
        align-self: center;
        font-size: 100%;
        color: #818488;
        border: 1px solid #818488;
        border-radius: 3px;
      }

      button:hover{
        color: #125688;
        border: 1px solid #125688;
      }
    }

    .name-and-bio{
      padding: 10px 0px 10px 0px;

      .userpage-name {
        font-weight: 800;
        display: inline;
        margin-right: 15px;
      }
      .userpage-bio {
        display: inline;
        position: static;
      }
    }

    .userpage-stats {
      display:flex;

      li {
        margin-right: 10px;
        display: inline;
      }
    }

  }

}

.viewing-options {
  margin: auto;
  max-width: 600px;
  text-align: center;

  input {
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 1px solid #fafafa;
  }

  input:hover{
    border: 1px solid #125688;
    border-radius: 5px;
  }

  input:focus{
    outline: none;
  }

  .active-icon{
    border: 1px solid #125688;
    border-radius: 5px;
  }
}

.userphotos-grid{
  max-width: 1000px;
  margin: auto;

  ul{
    margin: 0px 95px;
  }
  .square-photo-container{
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    margin: 5px;
    width: 250px;
    height: 250px;
    overflow: hidden;

  }

  img {
    width: 250px;
    height: 250px;

  }
}


.userphotos-index {
  display: flex;
  position: relative;
  vertical-align: baseline;
  align-items: center;
  align-self: center;
}


.userphotos-index-ul {
  display:flex;
  position: relative;
  margin: auto;
  vertical-align: baseline;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.userpage {
  padding-top: 115px;
  background-color: #fafafa;
}
