
.userpage-index {
  display: flex;
  position: relative;
  vertical-align: baseline;
  align-items: center;
  align-self: center;
}


.userpage-index-ul {
  display:flex;
  position: relative;
  margin: auto;
  vertical-align: baseline;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.newsfeed-item {
  border: 1px solid black;
}

.newsfeed-item > li {
  list-style: none;
  margin: 20px 0px
}

.photograph {
  width: 600px;
  height: auto;
}
