.userpage-profile {
  padding-bottom: 30px;
  display: flex;
  position: relative;
  left: 50px;

  .userpage-avatar {
    display: block;
    position: relative;
    margin: 0px 30px 0px 40px;
    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
  }
  .userpage-username {
    display: block;
    position: static;
  }
  .userpage-edit-button {
    display: inline-block;
    position: static;
  }
  .userpage-name {
    display: inline;
    position: static;
  }
  .userpage-bio {
    display: inline;
    position: static;
  }
  .userpage-photo-count{
    display: inline;
    position: static;
  }

}


.userphotos-index {
  display: flex;
  position: relative;
  vertical-align: baseline;
  align-items: center;
  align-self: center;
}


.userphotos-index-ul {
  display:flex;
  position: relative;
  margin: auto;
  vertical-align: baseline;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.userpage {
  padding-top: 115px;
}
